# Environment variables
.env

# Python cache
__pycache__/

# specific directories
data/
sample_docs/
weaviate_data/
tests/

# specific files
*.pyc
*.csv
*.ipynb

# pytest cache
.pytest_cache/

# ruff cache
.ruff_cache/test_fixes.py
simple_test.py
integration_test.py
.env
